# =========================
# Núcleo de testing
# =========================
pytest==8.4.2
pytest-xdist==3.8.0
pytest-base-url==2.1.0
pytest-forked==1.6.0

# =========================
# Playwright + pytest plugin
# =========================
playwright==1.56.0
pytest-playwright==0.7.1
# =========================
# Allure + pytest plugin
# =========================
allure-pytest

# =========================
# Linting / autoformato
# =========================
autopep8==2.3.2

# =========================
# Librerías de proyecto
# =========================
attrs==25.4.0
elasticsearch7==7.17.12
python-slugify==8.0.4
requests==2.32.5
websockets==15.0.1
